* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

h1 {
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar,.header {
    background-color: #1F2937;
}

ul,a{
    list-style-type: none;
    text-decoration: none;
    color: #eee;
}



/* Navbar */


.navbar .container {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a:hover {
    color: black;
}


.nav {
    display: flex;
    font-size: 20px;
    gap: 20px;
    font-weight: bold;
    margin-right: 60px;
}


.navbar .logo {
    width: 50px;
    height: 50px;
}



/* Header */

.header .container {
    display: flex;
    padding-top: 60px;
    align-items: center;
    padding-bottom: 40px;
}

.holder {
    width: 400px;
    height: 400px;
}

.header .container h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bolder;
    color: #F9FAF8;
}

.header .container p {
    font-size: 18px;
    color: #E5E7EB;
}

.header button {
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: bolder;
}


/* Information */

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 70px;
}


.info .container {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.info .content img {
    width: 100px;
    height: 100px;
}

.info .container .content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 70px;
}


/* Quote */

.quote {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.quote .content {
    font-size: 30px;
    font-style: italic;
    font-weight:lighter;
    color: #1F2937;
    padding: 300px 200px;
}

.quote .content .author {
    margin-left: 1100px;
}


/* Sign Up */

.sign h2{
    font-weight: bold;
}

.sign {
    height: 300px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.sign .box {
    background-color: #3882F6;
    padding: 30px 100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    line-height: 1.2;
    font-weight: bold;
}

.sign .box button {
    background-color: #3882F6;
    border: 3px solid black;
    padding: 5px 30px;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
}




/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  }